<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://kit.fontawesome.com/b1053c2d89.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div id="root">
            <form id="input_todo" >
                <input type="text" @keyUp.13="addElement" v-model="toDoTask" name="" placeholder="Aggiungi incarico in lista">
                <button @click="addElement" type="button" name="button">
                    Aggiungi
                </button>
            </form>
            <div id="to_do_list">
                <h2>To do list</h2>
                <ul>
                    <li v-for="(task, index) in toDoList" >
                        <i class="fas fa-check-square"></i>
                        <span >
                            {{task}}
                        </span>
                        <i @click="deleteElement(index)" class="trash fas fa-trash"></i>
                    </li>
                </ul>
            </div>


        </div>

        <script src="script.js" charset="utf-8"></script>
    </body>
</html>
